<h3><%= @user.email %></h3>
    <%= link_to 'Browse all images', root_url + "users/#{@user._id}/images", class: "btn btn-default", role: "button" %>
<% if @user == current_user %>
    <%= link_to 'Batch upload images', new_upload_path, class: "btn btn-primary", role: "button" %>
    <%= link_to 'View prior uploads', uploads_url, class: "btn btn-primary", role: "button" %>
<% end %>
<div class="row">

  <div class="col-md-8 col-md-offset-0">

    <h5>Recent Uploads</h5>

    <%= render 'images/images_table' %>

  </div>

  <div class="col-md-4 col-md-offset-0">
   <%= render 'users/user_info' %>
  </div>
</div>