<% if !@upload.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @upload.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<h3>Upload Images</h3>
<div class="row">
  <div class="col-md-8 col-md-offset-0">

    <div class="panel panel-default">
      <div class="panel-heading">Uploading Content</div>
      <div class="panel-body">
        To import images, simply follow these instructions:
        <ol>
          <li>Throw all of the images you want to add into a folder</li>
        <li>Compress the folder into a <code>.zip</code> archive</li>
       <li>Upload it!</li>
        </ol>
      </div>
    </div>


<div class="well">
  <%= form_for @upload, html: { multipart: true } do |f| %>

      <%= f.label :access, class: "form_id" %>
      <%= f.select :access, ['Public (Global)', 'Public (Signed in)', 'Private'], class: 'form-control'%>
      <br>

      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

    </div>
  <div class="col-md-4 col-md-offset-0">
    <%= render 'users/user_info' %>
  </div>

</div>