<table class="table table-striped table-hover table-bordered">
  <tr><td>Date</td><td><code><%= @image.exif['exif:DateTimeOriginal'].to_date.strftime("%B %d, %Y") unless @image.exif['exif:DateTimeOriginal'].blank? %></code></td></tr>
  <%= print_metadatum_row(@image, 'tiff:Model', 'Camera') %>
  <%= print_metadatum_row(@image, 'Lens', 'Lens') %>
  <%= print_metadatum_row(@image, 'exif:FNumber', 'Aperture') %>
  <%= print_metadatum_row(@image, 'exif:IsoSpeedRatings', 'ISO') %>
  <%= print_metadatum_row(@image, 'tiff:Model', 'Camera') %>

</table>