<%= paginate @images, :window => 5 %><br>

<div class="row">
<div class="col-md-8">
<%= render 'images/images_table' %>
    </div>
<div class="col-md-4">



    <div id="result_map">
      <script>
          var center = [0, 0];
          var map = L.map('result_map').setView(center, 1);
          L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
              detectRetina: true
          }).addTo(map);

          function onEachFeature(feature, layer) {
              // does this feature have a property named popupContent?
              if (feature.properties && feature.properties.id) {
                  layer.bindPopup('<a href="<%= root_url %>images/' + feature.properties.id + '">' + feature.properties.id + '</a>');
              }
          }

              var geojsonFeature = L.geoJson(<%= @geojson.to_json.html_safe %>, {onEachFeature: onEachFeature
              });
                      geojsonFeature.addTo(map);



          map.fitBounds(geojsonFeature);

      </script>

      </div>



</div>
<br>
</div>



<%= paginate @images, :window => 5 %>